@{ 
    ViewBag.Title = "Business Error Interest";
}

<h2>Business Account</h2>

<p>Interest calculations cannot be done with Business Accounts.</p>

<p>
    @Html.ActionLink("Back to List", "Index")
</p>
