@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="background-color: #FFD733">
    <h1>Gold Alliance</h1>
    <p class="lead">Gold Alliance steals your money.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Register Now!</h2>
        <p>
            Gold Alliance uses your account to purchase stock and lose your money! And if they end up
            earning money from the stocks, none of it goes to you!
        </p>
    </div>
    <div class="col-md-4">
        <h2>Open Checking or Business Accounts!</h2>
        <p>Checking accounts earn a measly amount of interest! Business accounts allow overdrafts, so you
        can be even more in debt!</p>
    </div>
    <div class="col-md-4">
        <h2>Loans/Term Deposits</h2>
        <p>You can easily apply for loans with moderate interest rates! You can also open Term Deposits!
        No early witdrawals allowed!</p>
    </div>
</div>